<nav class = "navbar navbar-expand-md bg-dark navbar-dark fixed-top py-2 mb-3">
    <div class = "container">
        <a href = "/" class = "navbar-brand">
            <!--<img src = "../logo.png" height = "50" width = "50">-->
            <h3 class = "d-inline align-middle">Jot-Down</h3>
        </a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#coll">
            <span class = "navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "coll">
            <ul class = "navbar-nav">
                <li class = "nav-item">
                    <a href = "/" class = "nav-link">Home</a>
                </li>
                <li class = "nav-item">
                    <a href = "/about" class = "nav-link">About</a>
                </li>
                <!--<li class = "nav-item">
                    <a href = "#authors" class = "nav-link">Meet</a>
                </li> 
                <li class = "nav-item">
                    <a href = "#contacts" class = "nav-link">Contact</a>
                </li>-->
            </ul>
            <ul class = "navbar-nav ml-auto">
                <li class = "nav-item dropdown">
                    <button type = "button" class = "btn btn-secondary dropdown-toggle" data-toggle = "dropdown">
                        Notes
                    </button>
                    <div class = "dropdown-menu bg-light">
                        <a href = "/mynotes" class = "dropdown-item">
                            <button class = "btn btn-primary btn-block">My Notes</button>
                        </a>
                        <div class = "dropdown-divider"></div>
                        <a href = "/notes/add" class = "dropdown-item">
                            <button class = "btn btn-primary btn-block">Take Notes</button>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
